<!DOCTYPE html>
<html lang="en" class="welcome">
  <head>
    <title>LMS</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
      <div align="middle">
    <h2>Welcome to your <span class="duct">Learning Management System</span> &hellip;</h2>
      <h3><a href="/register">Register Here</a></h3>
        <h3><a href="/login">Login here</a></h3>
<img src="images/image1.jpg" style="width:700px;height:400px;">

      </div>
  </body>
</html>
